@"
# Large data files
data/raw/*.csv
data/processed/*.csv
notebooks/data/processed/*.csv
filtered_complaints.csv

# Vector store & embeddings (too big)
vector_store/chroma_db/*
vector_store/*.npy
notebooks/vector_store/*
*.bin
chroma.sqlite3

# Virtual env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
__pycache__/

# OS
.DS_Store
"@ | Out-File -Encoding utf8 .gitignore -Force